@charset "utf-8";

*:focus{
	box-shadow: none !important;
	outline:none !important;
}


input{
	width:100% !important;
	padding: 12px 20px;
	border: none;
	margin-bottom: 20px !important;
	border-radius: 50px;
	background: #fff;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Francois One' ,sans-serif;
}

.generate-btn{
	border-radius:50px !important;
	padding: 8px 20px !important;
	background-color: #fff !important;
	font-weight: bold !important;
}


.submit-btn,.login-submit-btn{
	background-color: black !important;
	padding: 10px 20px !important;
	color: #fff !important;
}

.password-box,.email-box{
	width:100% !important;
	height: 50px;
	border: none;
	margin-bottom: 20px;
	border-radius: 50px;
	position: relative;
}

#password,#email{
	width: 100% !important;
	padding: 12px 20px;
	border:none;
	border-radius:50px;
	background: #fff;
	position: absolute; 
}

.show-icon,.email-icon{
	position: absolute;
	top: 30%;
	right: 15px;
	color:#ccc;
	z-index: 1;
	cursor: pointer;
}